<section class="shop">
    <div class="shop__content content--wrap">
        <h2>Kit Shop</h2>
        <a href="https://www.footballamerica.co.uk/en/83-northwest-vipers" class="card card--shop flourish--link">
            <div class="card__header">
                <img class="logo-FootballAmerica" src="/assets/logo/football-america.png" alt="Football America"/>
            </div>
            <div class="card__body">
                <p class="headline">Represent the Vipers with pride.</p>
                <p class="message">Shop our sideline and supporter range at FootballAmerica.co.uk.</p>
            </div>
        </a>
    </div>
</section>