<footer class="site--footer">
    <section class="content--wrap">
        <div class="site--footer__promo">
            <h2>Ready to join the Vipers?</h2>
            <p>Whether you're an experienced player or new to American Football, we welcome you to try out for the team.
            </p>
            <a href="/contact/" class="button flourish--link">Get in touch!</a>
        </div>
        <div class="site--footer__content">
            <div>
                <h2>Squads</h2>
                <ul>
                    <li><a href="/squads/senior-kitted/">Senior Kitted</a></li>
                    <li><a href="/squads/womens-flag/">Women's Flag</a></li>
                    <li><a href="/squads/mixed-flag/">Mixed Flag</a></li>
                    <li><a href="/squads/youth-kitted/">Youth Kitted</a></li>
                </ul>
            </div>
            <div>
                <h2>Notable</h2>
                <ul>
                    <li><a href="/safeguarding/">Safeguarding</a></li>
                    <li><a href="/news/">News</a></li>
                    <li><a href="/schedule/">Schedule</a></li>
                    <li><a href="/sponsors/">Sponsors</a></li>
                </ul>
            </div>
            <div>
                <h2>Learn</h2>
                <ul>
                    <li><a href="/about/">The club</a></li>
                    <li><a href="/learn/about-flag-football/">Flag football</a></li>
                    <li><a href="/learn/about-kitted-football/">Kitted football</a></li>
                </ul>
            </div>
            <div class="site--footer__social">
                <h2>Social</h2>
                <ul>
                    <li><a href="https://www.facebook.com/donegalderryvipers?locale=en_GB">Facebook</a></li>
                    <li><a href="https://www.instagram.com/northwestvipers/">Instagram</a></li>
                    <li><a href="https://www.tiktok.com/@northwestvipers">TikTok</a></li>
                    <li><a href="/news/feed.xml">RSS</a></li>
                </ul>
            </div>
        </div>
        <div class="site--footer__copyright">
            <p>&copy; 2026 Northwest Vipers</p>
        </div>
    </section>
</footer>